<section>
    <div data-bind="with:laureatesDetails" class="page-header">
        <h2 data-bind="text:$parent.displayName"></h2>
        <h3 data-bind="text:Nome"></h3>
        <div class="row">
            <div class="col-lg-8">
                <dl class="dl-horizontal">
                    <dt>Data Nascimento</dt>
                    <!--<dd data-bind="text: DataNascimento"></dd>-->
                    <dd data-bind="text: parseDate(DataNascimento)"></dd>
                    <!-- ko if: DataMorte !=null -->
                    <dt>Data Morte</dt>
                    <!--<dd data-bind="text: DataMorte"></dd>-->
                    <dd data-bind="text: parseDate(DataMorte)"></dd>
                    <!-- /ko -->
                    <dt>Cidade de Nascimento</dt>
                    <dd data-bind="text: CidadeNascimento.Nome + ' ('+ CidadeNascimento.Pais.Nome +')'"></dd>
                    <!-- ko if: CidadeMorte !=null -->
                    <dt>Cidade de Morte</dt>
                    <dd data-bind="text: CidadeMorte.Nome + ' ('+ CidadeMorte.Pais.Nome +')'"></dd>
                    <!-- /ko -->
                </dl>
                <hr />
                <h3>Prémios</h3>
                <div data-bind="foreach : PremioNobel">
                    <dl class="dl-horizontal">
                        <dt>Ano</dt>
                        <dd data-bind="text: Ano"></dd>
                        <dt>Categoria</dt>
                        <dd data-bind="text: Categoria.Nome"></dd>
                        <dt>Título</dt>
                        <dd data-bind="text: Titulo"></dd>
                        <dt>Motivação</dt>
                        <dd data-bind="html: Motivacao"></dd>
                    </dl>
                    <!-- ko ifnot : $index() == $parent.PremioNobel.length - 1 -->
                    <hr />
                    <!-- /ko -->
                </div>
                
                <!-- ko if : Filiacao.length != 0 -->
                <h3>Filiação</h3>
                <div data-bind="foreach: Filiacao">
                    <hr/>
                    <dl class="dl-horizontal">
                        <dt>
                            Instituição
                        </dt>
                        <dd>
                            <span data-bind="text: Nome"></span> - 
                            <span data-bind="text: Cidade.Nome"></span> (<span data-bind="text: Cidade.Pais.Nome"></span>)
                        </dd>
                        <!--<dt>Nome</dt>-->
                       <!-- <dd data-bind="text: Nome"></dd>-->
                       <!-- <dt>Cidade</dt>-->
                       <!--<dd data-bind="text: Cidade.Nome + ' ('+ Cidade.Pais.Nome +')'"></dd>-->
                       <!-- <dd>-->
                         <!--   <span data-bind="text: Cidade.Nome"></span> (<span data-bind="text: Cidade.Pais.Nome">)</span>-->
                        <!--</dd>-->
                    </dl>
                </div>
                <!-- /ko -->
            
            </div>
            <div class="col-lg-4">
                <img data-bind="attr:{ src: Picture}" class="img-thumbnail"
                     onerror="this.src='image/nofoto.jpg'" />
            </div>
        </div>
    </div>
</section>