/*body {*/
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
/*}*/

/*/* Set padding to keep content from hitting the edges */*/
/*.body-content {*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {*/
    /*white-space: normal;*/
/*}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
/*select,*//**/
/*textarea {*/
    /*max-width: 280px;*/
/*}*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300'); 
body {
    font-family: 'Open Sans', sans-serif;
}

.body-content {padding-top: 52px ; padding-bottom:52px;}
footer {
    line-height:
    42px
}

.pagination-label-container 
{
    height: 79px;
    padding-top: 15px;
    text-align: left;
}

.pagination-left-container
{
    float: left;
    padding-top:15px;
    width:30%
}

.pagination-right-container
{
    float: right;
    width:70%;
    text-align:right;
}
